.label {
    font-weight: bolder;
    margin: 0 10px;
}

.input{
    width: 1.7rem;
    font-size: 1.2rem;
    padding: 0 5px;
}

.btn {
    display: block;
    background-color: #8a2b06;
    color: white;
    border-radius: 25px;
    font-weight: bold;
    margin:15px 0 0 auto;
    border: none;
    outline: none;
    width: 80%;
    padding: 8px 10px;
    cursor: pointer;
}